{% extends 'app/baseformlogin.html' %}
{% load static %}
{% block contenido%}

<section class="py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-dark table-striped">
                    <thead>  
                        <tr>
                            <th>CODIGO USUARIO</th>
                            <th>USUARIO</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>CORREO</th>
                            <th>FECHA</th>
                            <th>OPCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aux in listaUsuarios %}
                        <tr>
                            <td>{{ aux.id }}</td>
                            <td>{{ aux.username  }}</td>
                            <td>{{ aux.first_name }}</td>
                            <td>{{ aux.last_name }}</td>
                            <td>{{ aux.email  }}</td>
                            <td>{{ aux.date_joined  }}</td>
                            <td>
                                <a href="{% url 'modificar_usuario' aux.id %}" class="btn btn-info">Modificar</a>
                                <a onclick="popupusuario({{ aux.id }})" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div style="height: 564px;">
                    <a href="agregar_usuario" class="btn btn-info">Agregar Usuario</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}