{% extends 'app/baselogin.html' %}
{% load static %}


from js import*

{% block contenido %}

<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 carrobg d-flex">
          <div class="row">
              {% if listacarrrito %}
                  <div class="col-sm-8">
                      {% for aux in listacarrrito %}
                          <div class="container-fluid productocar d-flex">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <a href=""> <img src="{{ aux.imagen_car.url }} "  alt="" class="img-fluid"></a>
                                      <h5 class="mb-1">{{ aux.nombre_car }}</h5>
                                  </div>
                                  <div class="col-sm-6 der">
                                      <p>Precio: ${{ aux.precio_car }}</p>
                                      <p>Precio de Artimember: ${{ aux.preciooferta_car }}</p>
                                      <p>Cantidad: {{ aux.cantidad }}</p>
                                      <a onclick="epc({{ aux.car_codigo }})" class="btn btn-danger"><i class="fa-solid fa-minus"></i> <i class="fa-solid fa-1"></i></a>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
                  <div class="col-sm-4">
                      <div class="seccionpago">
                          {% if Total == contador %}
                              <div class="total">
                                  <p> Total: ${{ contador }} </p>
                                  <a type="submit" name="pagar" id="pagar" href="{% url 'pagar' %}" class="carroboton"> PAGAR </a>
                              </div>
                          {% else %}
                              <div class="totalartimember">
                                  <p> Total (Artimember) : ${{ Total }} </p>
                                  <a type="submit" name="pagar" id="pagar" href="{% url 'pagar' %}" class="carrobotonartimember"> PAGAR <i class="fa-solid fa-crown"></i></a>
                              </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="axdxd"></div>
              {% else %}
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-12 text-center mt-2 mb-4">
                      <H2 style="color: rgb(255, 255, 255);">No hay ningún producto en el carrito</H2>
                      <p style="font-size: large; color: rgb(255, 255, 255);">Puedes echarle un vistaso a nuestros productos destacados.</p>
                        <div class="container-fluid carrosp">
                          {% for aux in Carrovacio %}
                              {% if aux.tipo.tipo == 'destacado' %}
                                <div class="col-sm-3">
                                  <div class="card cartacss2 ">
                                      <div class="card-body">
                                          <h4 class= "card-title">{{aux.nombre}}</h4>
                                          {% if aux.imagen %} <!--Cambio de aqui hasta...-->
                                          <img src="{{ aux.imagen.url }}" class="imgcartas2">
                                          {% else %}
                                          <img src="{% static 'app/img/productos/Screenshot_20.png' %}" alt="" class="imgcartas2">
                                          {% endif %}
                                          <!--Aca...-->
                                          <p></p>
                                      </div>
                                      <a href="#" class="card-link">{{aux.descripcion}}</a>
                                  </div>
                                </div>
                              {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                  </div>
                </div>  
              {% endif %}
          </div>
      </div>
  </div>
</div>

{% endblock %}