{% extends 'app/baselogin.html' %}
{% load static %}


from js import*

{% block contenido %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered table-striped">
        <thead>  
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Precio Artimember</th>
                <th>descripción</th>
            </tr>
        </thead>
        <h2 class="m-5">{{ contador }} Producto/s en el carrito.</h2>
        <tbody>
          {% for aux in listacarrrito %}
          <tr>
            <td>
              <a href=""> <img src="{{ aux.plu_codigo.imagen.url }} " style="max-width: 100px;" alt="" class="img-fluid"></a>
            </td>
            <td>
              <h5 class="mb-1">{{ aux.plu_codigo.nombre }}</h5>
            </td>
            <td>
              <p>${{ aux.plu_codigo.precio }}</p>
            </td>
            <td>
              <p>${{ aux.plu_codigo.preciooferta }}</p>
            </td>
            <td>
                <p class="total-price front-weight-bold m-0">{{ aux.plu_codigo.descripcion }}</p>
            </td>
            {% if perms.app.view_carrito_producto %}
            <td>
              <a onclick="epc({{ aux.id }})" class="btn btn-secondary"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-end">
            <div class="col-sm-6">

                </div>
            <div class="col-sm-6 d-flex justify-content-end" ><table class="table table-bordered">
                <tbody>
                    
                  <tr>
                    <!--hacer un if para mostrar el permiso de si esta suscrtito para mostrar el total con descuento o el total normalito--> 

                    <td  class="tgrand">Total (Artimember) :</td>
                    <td  class="tgrand">${{ TotalPagar  }}</td>
                    
                    <td  class="tgrand">Total:</td>
                    <td  class="tgrand">${{ Total }}</td>
                  </tr>
                </tbody>
              </table>

              <a type="submit" name="pagar" id="pagar" href="{% url 'pagar' %}" class="btnm carroboton">PAGAR</a>

        </div>
    </div>
{% endblock %}