{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-8">
      <table class="table table-bordered table-striped">
        <thead>  
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Precio Artimember</th>
                <th>descripción</th>
            </tr>
        </thead>
        <tbody>
          {% for aux in listacarrrito %}
          <tr>
            <td>
              <a href=""> <img src="{{ aux.imagen.url }} " style="max-width: 100px;" alt="" class="img-fluid"></a>
            </td>
            <td>
              <h5 class="mb-1">{{ aux.nombre_producto }}</h5>
            </td>
            <td>
              <p>${{ aux.precio_producto }}</p>
            </td>
            <td>
              <p>${{ aux.preciooferta }}</p>
            </td>
            <td>
                <p class="total-price front-weight-bold m-0">{{ aux.descripcion }}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-end">
            <div class="col-sm-6">
                </div>
            <div class="col-sm-6 d-flex justify-content-end" ><table class="table table-bordered">
                <tbody>
                    
                  <tr>
                    <td  class="tgrand">subtotal:</td>
                    <td  class="tgrand">$117.800</td>
                  </tr>
                </tbody>
              </table>
              <a type="submit" name="pagar" id="pagar" href="{% url 'pagar' %}" class="btnm carroboton">PAGAR</a>
        </div>
    </div>
{% endblock %}