{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<!--TITULO DE LA SECCION EN QUE SE ENCUETRA-->    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 pdcsso">
            <h2>COMIDA</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-12 d-flex">
            <div class="row">
                {% for aux in listaProductos %}
                {% if aux.tipo.tipo == 'comida' %}
                <div class="col-sm-3 d-flex">
                    <div class="conte">
                        <div class="card gato">
                            {% if aux.imagen %}
                            <img src="{{ aux.imagen.url }}" alt="">
                            {% else %}
                            <img src="{% static 'app/img/productos/gato2.jpg' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="informacion">
                            <h1>{{aux.nombre}}</h1>
                            <p class="fecha">stock: {{aux.stock}}</p>
                        </div>
                        <div class="precio">
                            <div class="box-precio">
                                <span class="precio1"><H4>${{aux.preciooferta}} <i class="fa-solid fa-crown"></i></H4></span>
                                <span class="precio2"><b>${{aux.precio}} </b></span>
                                <i class="fa-solid fa-cart-plus"></i>
                                <div>
                                    <form action ="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="codigo_producto" id="codigo_producto" value="{{ aux.plu_codigo }}">
                                        <input type="hidden" name="nombre_producto" id="nombre_producto" value="{{ aux.nombre }}">
                                        <input type="hidden" name="precio_producto" id="precio_producto" value="{{ aux.precio }}">
                                        <input type="hidden" name="preciooferta" id="preciooferta" value="{{ aux.preciooferta }}">
                                        <input type="hidden" name="descripcion" id="descripcion" value="{{ aux.descripcion }}">
                                        <input type="hidden" name="imagen_producto" id="imagen_producto" value="{{ aux.imagen }}">
                                        <input type="submit" value="Comprar"  style="cursor: pointer;" class="btnm">
                                    </form>
                                    {% if messages %}
                                        {% for msj in messages %}
                                            <script>
                                                Swal.fire({
                                                title: 'Agregado!',
                                                text: '{{ msj }}',
                                                icon: 'success',
                                                showConfirmButton: false,
                                                timer: 2000
                                                });
                                            </script>
                                        {% endfor %}
                                    {% endif %}
                                </div>   
                            </div> 
                        </div>
                    </div> 
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}