{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<!--TITULO DE LA SECCION EN QUE SE ENCUETRA-->    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 pdcsso">
            <h2>HISTORIAL DE COMPRAS</h2>
        </div>
    </div>
</div>

<input style="border-radius: 15px;border: solid 2px; padding: 5px;margin-left: 35px; margin-top: 15px" type="text" name="Codigop" placeholder="Codigo del pedido"> <a href=""><i class="fa-solid fa-magnifying-glass" style="color: black ;"></i></a>

<h2 class="historialh2">COMPRA Codigo 13256</h2>
<br>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12 d-flex ">
            <div class="col-sm-3"><div class="container mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th class="tgrand2">Pedido</th>                               
                        <th class="tgrand2">Nombre</th>
                        <th class="tgrand2">Codigo</th>
                        <th class="tgrand2">Cantidad</th>
                        <th class="tgrand2">Precio unidad</th>
                        <th class="tgrand2">Total</th>
                        <th class="tgrand2">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    <tr>
                        <td class="tgrand2">1</td> 
                        <td class="tgrand2">Modelo de Identificacion 3</td>
                        <td class="tgrand2">565876</td>
                        <td class="tgrand2">5</td>
                        <td class="tgrand2">$4.000</td>
                        <td class="tgrand2">$20.000</td>
                        <td class="tgrand2">22/06/2022</td>
                    </tr>
                    <tr>
                        <td class="tgrand2">2</td>
                        <td class="tgrand2">Collar Navideño</td>
                        <td class="tgrand2">768945</td>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">$9.500</td>
                        <td class="tgrand2">$28.500</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                      <tr>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">Felines premium (20Kg)</td>
                        <td class="tgrand2">908767</td>
                        <td class="tgrand2">2</td>
                        <td class="tgrand2">$20.400</td>
                        <td class="tgrand2">$40.800</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                      <tr>
                        <td class="tgrand2">4</td>
                        <td class="tgrand2">Bandana de gato color negro</td>
                        <td class="tgrand2">666777</td>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">$9.500</td>
                        <td class="tgrand2">$28.500</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                  </tbody>
                  
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div style="height: 179px;"></div>
{% endblock %}