{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<!--TITULO DE LA SECCION EN QUE SE ENCUETRA-->    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 pdcsso">
            <h2>HISTORIAL DE COMPRAS</h2>
        </div>
    </div>
</div>

<h2 class="historialh2">COMPRA NUMERO 1</h2>
<br>
<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12 d-flex ">
            <div class="col-sm-3"><div class="container mt-3">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                        <th class="tgrand2">Pedido</th>                               
                        <th class="tgrand2">Nombre</th>
                        <th class="tgrand2">Codigo</th>
                        <th class="tgrand2">Cantidad</th>
                        <th class="tgrand2">Precio unidad</th>
                        <th class="tgrand2">Total</th>
                        <th class="tgrand2">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                      
                    <tr>
                        <td class="tgrand2">1</td> 
                        <td class="tgrand2">Modelo de Identificacion 3</td>
                        <td class="tgrand2">565876</td>
                        <td class="tgrand2">5</td>
                        <td class="tgrand2">$4.000</td>
                        <td class="tgrand2">$20.000</td>
                        <td class="tgrand2">22/06/2022</td>
                    </tr>
                    <tr>
                        <td class="tgrand2">2</td>
                        <td class="tgrand2">Collar Navideño</td>
                        <td class="tgrand2">768945</td>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">$9.500</td>
                        <td class="tgrand2">$28.500</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                      <tr>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">Felines premium (20Kg)</td>
                        <td class="tgrand2">908767</td>
                        <td class="tgrand2">2</td>
                        <td class="tgrand2">$20.400</td>
                        <td class="tgrand2">$40.800</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                      <tr>
                        <td class="tgrand2">4</td>
                        <td class="tgrand2">Bandana de gato color negro</td>
                        <td class="tgrand2">666777</td>
                        <td class="tgrand2">3</td>
                        <td class="tgrand2">$9.500</td>
                        <td class="tgrand2">$28.500</td>
                        <td class="tgrand2">22/06/2022</td>
                      </tr>
                  </tbody>
                  
                </table>
            </div>
        </div>
    </div>
</div>
</div>


<h2 class="historialh2">COMPRA NUMERO 2</h2>
<br>
<div class="container-fluid ">
<div class="row">
<div class="col-sm-12 d-flex ">
    <div class="col-sm-3"><div class="container mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th class="tgrand2">Pedido</th>                               
                <th class="tgrand2">Nombre</th>
                <th class="tgrand2">Codigo</th>
                <th class="tgrand2">Cantidad</th>
                <th class="tgrand2">Precio unidad</th>
                <th class="tgrand2">Total</th>
                <th class="tgrand2">Fecha</th>
            </tr>
          </thead>
          <tbody>
              
            <tr>
                <td class="tgrand2">1</td> 
                <td class="tgrand2">Modelo de Identificacion 2</td>
                <td class="tgrand2">132126</td>
                <td class="tgrand2">5</td>
                <td class="tgrand2">$4.000</td>
                <td class="tgrand2">$20.000</td>
                <td class="tgrand2">01/03/2022</td>
            </tr>
            <tr>
                <td class="tgrand2">2</td>
                <td class="tgrand2">Collar Navideño</td>
                <td class="tgrand2">168445</td>
                <td class="tgrand2">3</td>
                <td class="tgrand2">$9.500</td>
                <td class="tgrand2">$28.500</td>
                <td class="tgrand2">01/03/2022</td>
              </tr>
              <tr>
                <td class="tgrand2">3</td>
                <td class="tgrand2">Felines premium (20Kg)</td>
                <td class="tgrand2">204567</td>
                <td class="tgrand2">2</td>
                <td class="tgrand2">$20.400</td>
                <td class="tgrand2">$40.800</td>
                <td class="tgrand2">01/03/2022</td>
              </tr>
              <tr>
                <td class="tgrand2">4</td>
                <td class="tgrand2">Bandana de gato color negro</td>
                <td class="tgrand2">873692</td>
                <td class="tgrand2">3</td>
                <td class="tgrand2">$9.500</td>
                <td class="tgrand2">$28.500</td>
                <td class="tgrand2">01/03/2022</td>
              </tr>
          </tbody>
          
        </table>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}