{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<!--TITULO DE LA SECCION EN QUE SE ENCUETRA-->
    
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 pdcsso">
            <h2>IDENTIFICACIONES</h2>
        </div>
    </div>
</div>

 <!--carta de productos-->
 <div class="container-fluid">
    <div class="row">
       <div class="col-sm-12 d-flex">
           <div class="row">
               <div class="col-sm-3">
             
                   <!--carta 1-->
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnet1.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 1</h1>
                       <p class="fecha"> Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>              
           </div>


           <!--carta 2-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnet2.png' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 2</h1>
                       <p class="x">Agotado </p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 3-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnet3.png' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 3</h1>
                       <p class="fecha">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 4-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnet4.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 4</h1>
                       <p class="fecha">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>
           </div>
       </div>
   </div>
</div>

<!--------------------------fila 2------------------------------------------------------------------------------------->
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 d-flex">
           <div class="row">
               <div class="col-sm-3">
                   <!--carta 1-->
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetg1.jpg.crdownload' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 5</h1>
                       <p class="x">Agotado </p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>              
           </div>


           <!--carta 2-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetg2.jpeg.crdownload' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 6</h1>
                       <p class="x">Agotado </p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 3-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp1.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 7</h1>
                       <p class="fecha">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 4-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp2.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 8</h1>
                       <p class="fecha">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$3.800 <i class="fa-solid fa-crown"></i></H4></span> 
                           <span class="precio2"><b>$4.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                           
                       </div>
                   </div>
               </div>  
           </div>
           </div>
      </div>
   </div>
</div>


<!-------------------------------------------------------fila 3---------------------------------------------->
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12 d-flex">
           <div class="row">
               <div class="col-sm-3">
                   <!--carta 1-->
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp3.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 9</h1>
                       <p class="fecha cardarreglo">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$4.750 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$5.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>              
           </div>


           <!--carta 2-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp4.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 10</h1>
                       <p class="fecha">solo 1</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$4.750 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$5.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 3-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp5.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 11</h1>
                       <p class="x">Agotado </p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$4.750 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$5.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>


           <!--carta 4-->
           <div class="col-sm-3">
               <div class="conte">
                   <div class="card gato">
                       <img src="{% static 'app/img/productos/carnetp6.jpg' %}" alt="">
                   </div>
                   <div class="informacion">
                       <h1>Modelo de Identificacion 12</h1>
                       <p class="fecha">Disponible</p>
                   </div>
                   <div class="precio">
                       <div class="box-precio">
                           <span class="precio1"><H4>$4.750 <i class="fa-solid fa-crown"></i></H4></span>
                           <span class="precio2"><b>$5.000</b></span>
                           <i class="fa-solid fa-cart-plus"></i>
                       </div>
                   </div>
               </div>  
           </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}