{% extends 'app/baseformlogin.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 pdcsso">
            <h2>Seguimiento</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="carrobg">
			{% for aux in listaHistorial %}
			<div class="col-sm-12 seghist">
				<h2>Seguimiento del pedido : {{ aux.codigo }}</h2>
				<div class="row">
					<div class="col-sm-2"></div>
					<div class="col-sm-8">
						<p></p>
						<p>Productos comprados : {{ aux.productos }}</p>
						<p>Fecha de la compra : {{ aux.fecha }}</p>
						<p>Estado del pedido : {{ aux.estado }}</p>
					</div>
					<div class="col-sm-2"></div>
					{% if aux.estado == 'En Preparación' %}
						<ul class="step-wizard-list">
							<li class="step-wizard-item current-item">
								<span class="progress-count"><i class="fa-solid fa-box-open"></i></span>
								<span class="progress-label">En Preparación</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-boxes-packing"></i></span>
								<span class="progress-label">Entregando a currier</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-fast"></i></span>
								<span class="progress-label">En Camino</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-ramp-box"></i></span>
								<span class="progress-label">Entregado</span>
							</li>
						</ul>
					{% elif aux.estado == 'Entregando a Currier' %}
						<ul class="step-wizard-list">
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-box-open"></i></span>
								<span class="progress-label">En Preparación</span>
							</li>
							<li class="step-wizard-item current-item">
								<span class="progress-count"><i class="fa-solid fa-boxes-packing"></i></span>
								<span class="progress-label">Entregando a currier</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-fast"></i></span>
								<span class="progress-label">En Camino</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-ramp-box"></i></span>
								<span class="progress-label">Entregado</span>
							</li>
						</ul>
					{% elif aux.estado == 'En Camino' %}
						<ul class="step-wizard-list">
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-box-open"></i></span>
								<span class="progress-label">En Preparación</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-boxes-packing"></i></span>
								<span class="progress-label">Entregando a currier</span>
							</li>
							<li class="step-wizard-item current-item">
								<span class="progress-count"><i class="fa-solid fa-truck-fast"></i></span>
								<span class="progress-label">En Camino</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-ramp-box"></i></span>
								<span class="progress-label">Entregado</span>
							</li>
						</ul>
					{% elif aux.estado == 'Entregado' %}
						<ul class="step-wizard-list">
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-box-open"></i></span>
								<span class="progress-label">En Preparación</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-boxes-packing"></i></span>
								<span class="progress-label">Entregando a currier</span>
							</li>
							<li class="step-wizard-item">
								<span class="progress-count"><i class="fa-solid fa-truck-fast"></i></span>
								<span class="progress-label">En Camino</span>
							</li>
							<li class="step-wizard-item current-item">
								<span class="progress-count"><i class="fa-solid fa-truck-ramp-box"></i></span>
								<span class="progress-label">Entregado</span>
							</li>
						</ul>
					{% endif %}
					{% if perms.app.change_estado_pedido %}
						<a href="{% url 'historial_general' %}" class="volvhist">Volver</a>
					{% else %}    					
						<a href="{% url 'historial' %}" class="volvhist">Volver</a>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock%}