{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<div class="contenedor">
    <div class="tabla">
        <p class="titulosub">Suscripcion artipets.</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">Donaciones</p>
        <p class="descripcionsub">Paga ahora y recibe un 5% en de descuento en tus productos destacados</p>
        <a href="" class="boton">Paga ahora</a>
    </div>
    <div class="tabla">
        <p class="titulosub">Vista suscripcion</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">suscripcion y donaciones.</p>
        <p class="descripcionsub">Recuerda que pagando tendras beneficios</p>
        <a href="" class="boton">visualización</a>
    </div>
    <div class="tabla">
        <p class="titulosub">Eliminar suscripcion</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">Eliminar suscripcion</p>
        <p class="descripcionsub">Se puede renovar en cualquier momento</p>
        <a href="" class="boton">Eliminar suscripcion</a>
    </div>
</div>
{% endblock %}