{% extends 'app/baselogin.html' %}
{% load static %}

{% block contenido %}
<div class="contenedor">
    <div class="tabla">
        <p class="titulosub">Suscripcion artipets.</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">Donaciones</p>
        <p class="descripcionsub">Paga ahora y recibe un 5% en de descuento en tus productos destacados</p>
        <form action ="" method="POST">
            {% csrf_token %}
            <input type="submit" value="Paga ahora"  style="cursor: pointer;" class="btnm">
        </form>
    </div>
    <div class="tabla">
        <p class="titulosub">Vista suscripcion</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">suscripcion y donaciones.</p>
        <p class="descripcionsub">Recuerda que pagando tendras beneficios</p>
        <a href="" class="boton">visualización</a>
    </div>
    <div class="tabla">
        <p class="titulosub">Eliminar suscripcion</p>
        <img src="{% static 'app/img/crown.png' %}" class="imgsub" alt="">
        <p class="subtitulosub">Eliminar suscripcion</p>
        <p class="descripcionsub">Se puede renovar en cualquier momento</p>
        <form action ="" method="GET">
            {% csrf_token %}
            <input type="submit" value="Eliminar suscripcion"  style="cursor: pointer;" class="btnm">
        </form>
    </div>
</div>
{% endblock %}