/*ENCABEZADO*/



.encabezado{
    color: whitesmoke;
    background-color: rgb(96, 62, 133);
}

.fuente{
    font-family: Trebuchet MS;
}
/*FIN DE ENCABEZADO*/

/*INICIO DE NAVBAR*/
.navfondo{
    background-color: aqua;
}

.navbar .nav-item{
    margin-right: 30px;
}

.navbar .nav-item:hover{
    background-color: rgb(0, 192, 192);
    border-radius: 5px;
}

.logomedia{
    max-width: 100px; 
    max-height: 80px; 
    margin: 8px;
}

.eslogan{
    margin: 35px 30px;
}

/*FIN DEL NAVBAR*/

/*IMAGEN DE LA SUSCRIPCION*/
.suscripciondonacion a{
    width: 100%;
    position: -ms-page;
    left: 0%;
    bottom: 0%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
}
/*FIN SUSCRIPCION*/

/*COMIENZO DE FOOTER*/

Footer{
    background-color: rgb(96, 62, 133);
    color: white;
    width: 100%;
    position: -ms-page;
    left: 0%;
    bottom: 0%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footercontenedoriz{
    background-color: rgb(72, 46, 100);
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 5px;
}

.footercontenedorder{
    background-color: rgb(72, 46, 100);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 5px;
}

/*FIN DEL FOOTER*/


/*APARTADO DEL MODAL (SEGUIMIENTO)*/
.movder{
    margin-left: 65px;
}

/*BOTONES DE SEGUIMIENTO/CARRITO/LOGOUT*/
.btnmedia{
    margin-left: 10px;
    margin-top: 25px;
    margin-right: 25px;
    max-width: 150px;
    max-height: 80px;
}

/**perfil**/

.perfilhome{
    margin-left: 10px;
}

.fotoperfil{
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    margin-left: 15px;
}

.nombreUsuario{
    margin-top: 2px;
}


/*CARTA DESTACAS (Que estan en el home)*/
.cartacss{
    margin-top: 30px;
    margin-bottom: 40px;
    min-height: 480px;
    box-shadow: 0 0 15px rgb(0, 0,0) ;

}

/*ANIMACION DE LOS PRODUCTOS DESTACADOS*/
.cartacss :hover{
    transition: 0.5s all;
    transform: scale(0.9);
    cursor: pointer;
}


.cartacss .card-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
}


/*CARTA DESTACAS (Que estan en el home)*/
.cartacss2{
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-LEFT: 10px;
    min-height: 450px;
    box-shadow: 0 0 15px rgb(0, 0,0) ;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

/*ANIMACION DE LOS PRODUCTOS DESTACADOS*/
.cartacss2 :hover{
    transition: 0.5s all;
    transform: scale(0.9);
    cursor: pointer;
}


.cartacss2 .card-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: large;
}

.imgcartas2{
    max-width: 250px
}
/*CARTAs DESTACAS (Que estan en el home)*/


/*COLOR-CARACTERITICAS DEL NAVBAR*/
.pdcss{
    background-color: aqua;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*COLOR-CARACTERITICAS DEL SUBTITULO DEPENDIENDO EL PRODUCTO*/
.pdcsso{
    background-color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

/*TAMAÑO DE LAS CARTAS DESTACAS EN HOME*/
.imgcartas{
    max-width: 300px
}


/*Clase para darle un margen al footer */
.cfooter{
    margin-top: 10px;
}


/*Pagina de Login*/
.login{
    width: 900px;
    height: 629px;
    background-image: url(../img/bg3.jpg);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 15px;
    border: 5px solid rgb(72, 46, 100);
    color: white;
}

.login h5{
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid ;
    font-size: 22px;
}

.txtlogin{
    width: 100%;
    margin-bottom: 10px;
    border: 3px solid rgb(124, 64, 187);
    border-radius: 10px;
    padding: 5px 5px;
    background-color: rgba(72, 46, 100, 0.5);
    color: rgb(255, 255, 255);
}

.btnlogin{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 255, 85, 0.623);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: 600;
}

.login .plogin{
    text-align: center;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid ;
}

.login .pregister{
    height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid ;
}

.login a{
    color: white;
    text-decoration: none;
}

/*FIN DEL LOGIN*/


/*cartas de productos*/
.conte{
    height: 510px;
    width: 350px;
    box-shadow: 0 0 15px rgb(0, 0,0) ;
    margin: 30px 30px;
    border-radius: 5px;
}
.conte .card{
    height: 200px;
    width: 100%;
    margin-bottom: 150px;
}
.card img{
    margin: auto;
    display: block;
}
.conte .gato img{
    height: 330px;
    width: 300px;
    border-radius: 5px;
    border: solid rgb(0, 0,0);
}
.conte .gato{
    background-color: #111;
}  

.informacion{
    height: 80px;
    width: 100%;
}

.informacion h1{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.informacion p{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: #555;
}
  
.informacion .x{
    text-align: center;
    font-family: sans-serif;
    font-size: .9em;
    color: red;
}
   /*PRECIOS :D*/
.precio {
    height:50px;
    width: 85%;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precio1{
    color: red;
    font-size: 19px;
}
.precio .precio2{
    font-size: 23px;
}



/*BOTON PARA AGREGAR AL CARRITO*/
.btnm{
    margin-left: 30px;
    background-color: rgb(96, 62, 133);
    border-radius: 15px;
    color: white;
    font-style: oblique;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 0px rgb(0, 0, 0);
    padding: 0px 60px 0px 60px;
}


/*LAS TRANSICIONES DE LAS CARTAS*/
.conte:hover{
    transition: 0.5s all;
    transform: scale(1.1);
    cursor: pointer;
}
/*FIN DE CARTAS DE PRODUCTOS*/

.carrosp{
    margin-top: 15px;
    background-color: antiquewhite;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    border: 5px solid rgb(72, 46, 100);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
}



/*SUSCRIPCIONES*/
/*Contenedor de las tablas para la suscripcion*/
.contenedor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Tabla para la suscripcion*/
.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid rgb(96, 62, 133);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgb(96, 62, 133);
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: rgb(96, 62, 133);
}



.tabla>h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}


.tabla > h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom: 20px;
}

.historialh2{
    margin-top: 20px;
    margin-left: 35px;
}


----------------------------------------------------------
.contenedorr{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Tabla para la suscripcion*/
.tablar{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid rgb(96, 62, 133);
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px rgb(96, 62, 133);
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: rgb(96, 62, 133);
}



.tablar>h2{
    display: block;
    font-size: 30px;
    margin-bottom: 35px;
}


.tablar > h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.tablar > p{
    display: block;
    margin-bottom: 20px;
}

.historialh2{
    margin-top: 20px;
    margin-left: 35px;
}









----------------------------------------------------------------------
/*Boton De la tabla suscripcion*/
.boton{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: rgb(255, 255, 133);
    text-decoration: none;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}
/*Animacion al acercar el cursos a la tabla*/
.tabla:hover{
    background: rgb(96, 62, 133);
    color: #f1f1f2;
    transition: 0.5s all;
    transform: scale(1.1);
    cursor: pointer;
}
/*FIN DE SUSCRIPCION*/
/*CARRITO AJUSTE IMAGENES*/
.tgrand{
    min-width: 300px;

}
.tgrand2{
    min-width: 260px;

}

.tdimg{
    max-width: 100px;
}
/*FIN DEL CARRITO*/



.carrobg{
    background-image: url(../img/bg3.jpg);

}

.axdxd{
    height: 300px;
}

.productocar{
    background-color: rgb(96, 62, 133);
    border: 2px solid #9d66da;
    border-radius: 25px;
    padding: 25px 15px 15px 15px;
    width: fit-content;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    min-width: 800px;
}

.carroboton{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    min-height: fit-content;
    box-shadow: 2px 2px 3px rgb(126, 126, 126);
    border: 2px solid rgb(96, 62, 133);
    background-color: antiquewhite;
}

.carroboton:hover{
    color: #111;
}

.carrobotonartimember{
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: large;
    padding: 10px;
    border-radius: 15px;
    min-height: fit-content;
    box-shadow: 2px 2px 3px rgb(126, 126, 126);
    border: 2px solid rgb(179, 179, 0);
    background-color: yellow;
}

.carrobotonartimember:hover{
    color: rgb(170, 130, 28);
}

.productocar .der{
    margin-top: 22px;
}

.productocar a img{
    margin-top: 22px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 150px;
}

.seccionpago{
    background-color: rgb(113, 81, 148);
    border: 2px solid #9d66da;
    border-radius: 25px;
    padding: 25px 15px 15px 15px;
    width: fit-content;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    min-width: 400px;
    max-width: 400px;
}

.seccionpago a{
    width: 365px;
}

.totalartimember{
    color: gold;
}

.bdhist{
    background-color: rgb(109, 72, 146);
    border: 2px solid #9d66da;
    border-radius: 25px;
    padding: 25px 15px 15px 15px;
    width: fit-content;
    text-transform: capitalize;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    min-width: 80%;
}


/*historial*/

.seghist{
    background-color: rgb(96, 62, 133);
    border: 2px solid #9d66da;
    border-radius: 25px;
    padding: 25px 15px 15px 15px;
    width: fit-content;
    text-transform: capitalize;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    color: #ffffff;
    min-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.volvhist{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    text-decoration: none;
    background-color: #3a2550;
    border: 2px solid #21d4fd;
    color: #21d4fd;
    border-radius: 15px;
}

.volvhist:hover{
    color: gold;
    background-color: #000000;;
}



/*seguimientocosas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}


.step-wizard-list{
    background: #432b5d;
    border: 2px solid #705191;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
}

.step-wizard-item{
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: rgb(238, 238, 238);
    border: 2px solid #21d4fd;
}
.current-item .progress-count{
    color: #000000;
}

/*subs*/

.imgsub{
    width:50px;
}

.titulosub{
    font-size: 40px;
    font-weight: 500;
}

.subtitulosub{
    font-size: 30px;
    font-weight: 500;
}

.descripcionsub{
    font-size: 18px;
}

@media (max-width: 1360px){
    .imgcartas{
        max-width: 200px
    }
    .boton{
        width: 100px;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        color: black;
    }
    .imgsub{
        max-width: 30px;
        min-width: 30px;
    }
    
    .titulosub{
        font-size: 20px;
        font-weight: 500;
    }
    
    .subtitulosub{
        font-size: 18px;
    }
    
    .descripcionsub{
        font-size:15px;
    }
    .contenedor{
        width: 100%;
        max-width: 500px;
    }
    .tabla{
        height: 400px;
        padding: 10px;
    }
}

@media (max-width: 1010px){
    .imgcartas{
        max-width: 120px
    }
    .btnmedia{
        margin: 25px 15px 15px 15px;
        max-width: 150px;
        max-height: 80px;
    }
    .cfooter{
        margin-top: 80px;
    }
    .login{
        width: 800px;
        height: fit-content;
        margin-top: 30px;
    }
    .tgrand{
        max-width: fit-content;
        min-width: 120px;
        font-size: 15px;
    }
    .carroboton{
        margin-right: 50px ; padding: 10px; border-radius: 12px; min-height: 20px;
        box-shadow: 0px 0px 5px black;
        border: 2px solid rgb(96, 62, 133);
        background-color: rgb(159, 113, 207);
    }
    .historialh2{
        margin-top: 30px;
        margin-left: 36px;
        font-size: 20px;
    }
    .tgrand2{
        min-width: 20px;
        font-size: 15px;
    }
    .carrosp{
        display: block;
    }
}

@media (max-width: 575px){
    .imgcartas{
        max-width: 400px
    }

    .login{
        width: 389px;
        height: fit-content;
        margin-top: 30px;
    }
    .carrosp{
        display: block;
    }
}

@media (max-width: 800px){
    .imgcartas{
        max-width: 220px
    }
    .btnmedia{
        max-width: 80px;
        max-height: 80px;
        font-size: 10px;
    }
    .nombreUsuario{
        font-size: 10px;
    }
    .logomedia{
        margin-top: 30px;
    }
    .eslogan{
        font-size: 20px;
    }
    .conte{

        margin: 15px 15px;
    }
    .tgrand{
        max-width: fit-content;
        min-width: 20px;
        font-size: 9px;
    }
    .tgrand2{
        min-width: 8px;
        font-size: 8px;
    }
    
    .tdimg{
        max-width: 30px;
    }
    .historialh2{
        margin-top: 30px;
        margin-left: 36px;
        font-size: 15px;
    }
    .carroboton{
        margin-right: 20px ; padding: 10px; border-radius: 12px; min-height: 20px;
        box-shadow: 0px 0px 5px black;
        border: 2px solid rgb(96, 62, 133);
        background-color: rgb(159, 113, 207);
    }
    .boton{
        width: 100px;
        padding: 12px;
        font-size: 15px;
        font-weight: 400;
        color: black;
    }
    .imgsub{
        max-width: 30px;
        min-width: 30px;
    }
    
    .titulosub{
        font-size: 20px;
        font-weight: 500;
    }
    
    .subtitulosub{
        font-size: 18px;
    }
    
    .descripcionsub{
        font-size:15px;
    }
    .contenedor{
        width: 100%;
        max-width: 500px;
    }
    .tabla{
        height: 400px;
        padding: 10px;
    }
    .login{
        width: 389px;
        height: fit-content;
        margin-top: 30px;
    }
    
    .axdxd{
        height: 100px;
    }

    .productocar{
        padding: 10px;
        text-transform: capitalize;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 12px;
        min-width: 300px;
        max-width: 300px;
    }

    .productocar h5{
        font-size: 16px;
    }

    .productocar .der{
        margin-top: 15px;
    }
    
    .productocar a img{
        margin-top: 22px;
        border-radius: 10px;
        margin-bottom: 10;
        max-width: 100px;
    }

    .seccionpago{
        margin-left: 32px;
        width: fit-content;
        text-transform: capitalize;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #ffffff;
        min-width: 300px;
        max-width: 300px;
    }
    
    .seccionpago a{
        width: max-content;
    }
    .carrosp{
        display: block;
    }

}